html {
  font-size: 14px;
}
body {
  margin: 1rem 0;
}

.dict-opts {
  font-family: sans-serif;
}

.dict-opts__form-group {
  margin: 0 0 1rem;
}

.dict-opts__input-label {
  font-weight: bold;
}

.dict-opts__input-text {
  margin: 0.25rem 0 0;
  line-height: 1.5;
  color: #333;
}